*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    background-color: rgb(226 232 240);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7cdd4;
    background-image: linear-gradient(90deg, rgba(174, 9, 240, 0.6), rgba(12, 137, 209, 0.6)) ,url('images/background.jpg');
    height: 13rem;
    background-position: center;
    background-size: cover;
}
.header__title{
    font-size: 3.3rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.header__title span {
    font-weight: 600;
}
.main {
    max-width: 1024px;
    height: 500px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: .5rem;
    transform: translateY(-30px);
    display: flex;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.main__textarea{
    all: unset;
    flex: 1;
    height: 100%;
    background-color: white;
    resize: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}
.main__textarea::placeholder{
    color: rgb(163, 163, 163);
}
.analytics {
    width: 350px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(241 245 249);
}
.analytics__card:nth-child(1), .analytics__card:nth-child(3){
    border-right: 1px solid rgb(226 232 240);
}
.analytics__card:nth-child(1), .analytics__card:nth-child(2){
    border-bottom: 1px solid rgb(226 232 240);
}
.analytics__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(74, 74, 74);
    text-align: center;
}
.analytics__number{
    font-size: 2rem;
    font-weight: 700;
}
.analytics__title{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(137, 139, 141);
    text-transform: uppercase;
    margin-top: .8rem;
}
.footer{
    max-width: 1024px;
    margin: 0 auto;
    transform: translateY(-20px);
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: .9rem;
    font-weight: 300;
}

.dangerouse__color{
    color: red;
}